server:
  port: 8080
  servlet:
    contextPath: /
    
spring:
  application:
    name: aiops-instana

  kafka:
    bootstrap-servers: ${KAFKA_HOST:iaf-system-kafka-bootstrap-cp4waiops.apps.demo.ibm-aiops.com:9094}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer   


kafka-topic:
  aiops-tpd: cp4waiops-cartridge-alerts-none-o38j8s9a